extends layout

block content
	h1 MyBeers.io
	form(method="post", action="/add")
		label 
			| Nome
		input(type="text", name="name")
		label 
			| Estilo
		select(name="style")
			option(value="test")
		label
			| Teor Alcoólico
		input(type="text", name="teorAlcool")
		label
			| Categoria
		input(type="text", name="category")
		label
			| Ingredientes
		label
			| Descrição
		textarea(name="description")
